<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760196472518-9a8js35vuqlbe3r5jakgd5vskll7ug06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760196472518-9a8js35vuqlbe3r5jakgd5vskll7ug06</string>
	<key>API_KEY</key>
	<string>AIzaSyC7WPbb-e15IMTEyG5vWZ3A4bU0IN_Av10</string>
	<key>GCM_SENDER_ID</key>
	<string>760196472518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBootcamp</string>
	<key>PROJECT_ID</key>
	<string>bootcamp-dea48</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamp-dea48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760196472518:ios:af11691ffa7b34a7de41c7</string>
	<key>DATABASE_URL</key>
	<string>https://bootcamp-dea48-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>